@media screen and (max-width: 480px) {
    html{
        margin: 0;
        padding: 0;
        font-family: 'Acme', sans-serif;
        font-weight: 100;
        scroll-behavior: smooth;
        font-size: 100%;
    }

    body{
        width: 100%;
        min-width: 320px;
        background-color: black;
        font-size: 100%;
        color: white;
    }
    
    /*header content*/
    header{
        width: 100%;
        min-width: unset;
        background-color: black;
        position: fixed;
        top: 0px;
        right: unset;
        left: unset;
        z-index: 5;
        display: flex;
        justify-content: space-between;
        padding-top: 2px;
    }
    
    #type{
        font-family: 'Fredericka the Great', cursive;
    }

    .topnav{
        display: block;
        width: 96%;
        position: absolute;
        left: 2%;
        right: 2%;
        margin: 0 auto;
        top: 35px;
        border-radius: 0px 0px 10px 10px;
    }

.icon{
    display: block;
    padding-left: 6px;
}

    #mobile{
        display: block;
    }

    nav{
        display: none;
    }
    
    .logo{
        display: none;
    }

    #sname{
        position: absolute;
        top: 60px;
        line-height: 30px;
        display: block;
        font-family: 'Fredericka the Great', cursive;
        font-size: 1.5rem;
        color: turquoise;
        margin-left: 10px;
    }

    strong{
        display: none;
    }
    
    .phone>a:link{
        text-decoration: none;
    }
    
    .phone .fa-phone-square-alt, .phone .fa-twitter-square, .phone .fa-facebook-square, .phone .fa-instagram-square, .phone .fa-at{
        color: rgb(57, 167, 158);
        margin-bottom: 0px;
        margin-right: 5px;
        font-size: 1.8rem;
    }
    
    strong:hover{
        color: lightblue;
        transition: 1s;
    }
    
    .content{
        max-width: 100%;
        width: 100%;
        margin: 0px;
        margin-top: 60px;
    }
    /*end header*/
    
    /*content of page*/
    main{
        width: 100%;
        margin-top: 0px;
        position: relative;
    }
    
    .phone {
        color:hsl(175, 49%, 44%);
        display: flex;
        padding-right: 20px;

    }

    .project-block{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .project-container{
        grid-template-columns: auto;
        width: 100%;
    }

    .projectinfo{
        width: 60%;
        text-align: center;
        margin: 0 auto;
        transition: 2s;
    }

    .furnix{
        width: 270px;
        height: 300px;
        margin: 0 auto 15px;
        position: relative;
    }

    .furnix:hover{
        background: black;
    }

    .rotate-div1{
        box-sizing: border-box;
        width: 150px;
        height: 312px;
        margin: 0 auto;
        top: -6px;
        left: 125px;
        background: linear-gradient(turquoise, rgba(81, 165, 243, 0.589),transparent);
        position: absolute;
        z-index: -1;
    }

    .furnix:active{
        outline: 2px solid grey;
    }
    
    #services-container{
        flex-direction: column;
    }

    .service-block{
        width: 70%;
        margin-bottom: 30px;
    }

    #texttype{
        margin-left: 110px;
    }
    
    .mypics{
        background-color: black;
        width: 200px;
        border-radius: 50%;
        position: absolute;
        top: 200px;
        left: 190px;        
    }

    #surface{
        top: 400px;
        left: 242px;
    }

    .toggle-white{
        padding: 2px;
        width: 40px;
        height: 20px;
        border-radius: 20px;
        background-color: #e6e2c8;
        position: fixed;
        top: 6px;
        right: 6px;
        z-index: 10;

    }
    
    .toggle-switch-black{
        background-color: black;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        
    }
    
    .toggle-black{
        padding: 2px;
        width: 40px;
        height: 20px;
        border-radius: 20px;
        background-color: black;
        position: fixed;
        top: 6px;
        right: 6px;
    }
    
    .toggle-switch-white{
        background-color: white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        float: right;
    }

    @keyframes mypicsmove {
        50% {top: 196px;}  
         
    }

/*Slide from left*/
.slideleft {
    animation-name: slideleft;
    -webkit-animation-name: slideleft;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    }
    
    @keyframes slideleft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(30%);
    } 

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
    }
    
    @-webkit-keyframes slideleft {
        0% {
        opacity: 0;
        -webkit-transform: translateX(30%);
        } 

        100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        }
    }

/*slide from right*/
.slideright {
    animation-name: slideright;
    -webkit-animation-name: slideright;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    }
    
    @keyframes slideright {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-30%);
    } 

    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
    }
    
    @-webkit-keyframes slideright {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-30%);
        } 

        100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        }
    }

/* Slide Up */
.slideup {
    animation-name: slideup;
    -webkit-animation-name: slideup;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    }

@keyframes slideup {
    0% {
        opacity: 1;
        -webkit-transform: translateY(30%);
    } 

    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
    }
    
    @-webkit-keyframes slideup {
        0% {
        opacity: 1;
        -webkit-transform: translateY(30%);
        } 

        100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
        }
    }

    .aaa{
        box-shadow: 2px 2px 2px black;
        border-radius: 50%;
        width: 220px;
        height: 220px;
        margin-top: -200px;
        position: absolute;
        top: 328px;
        left: 145px;
        z-index: 1;
    }
    
    .aaaa{
        box-shadow: 2px 2px 2px black;
        border-radius: 50%;
        width: 240px;
        height: 240px;
        margin-top: -200px;
        position: absolute;
        top: 313px;
        left: 135px;
        z-index: 1;
    }
    
    .aaaaa{
        width: 226px;
        height: 225px;
        margin-top: -200px;
        position: absolute;
        top: 333px;
        left: 160px;
        
    }

    #msg{
        width: 288px;
        height: 130px;
        line-height: 33px;
        margin: 80px auto;
        margin-bottom: 10%;
        font-size: 1rem;
        box-sizing: border-box;
        color: white;
    }
    
    .msg1{
        margin-left: unset;
    }
    
    .msg2{
        margin-left: unset;
    }
    
    .msg3{
        margin-left: unset;
        width: unset;
        text-align: start;
    }

    .fa-angle-down{
        color: turquoise;
    }

    .arrow{
        margin-bottom: -15px;
    }

    .lastarrow{
        margin-top: -25px;
    }

    .mbutton{
        width: 10%;
        min-width: unset;
        margin: 0 auto;
        text-align: center;
    }

    .smw:active{
        box-shadow: 1px 1px 0px white;
    }

    .recentworks, #services{
        width: 90%;
        padding-left: 6%;
        margin-top: 50px;
    }

    hr{
        background-color: hsl(175, 49%, 44%);
        width: 16%;
        color: hsl(175, 49%, 44%);
        border: 2px solid hsl(175, 49%, 44%);
        margin-top: 5px;
    }
    
    .rw, .serv{
        font-size: 1.4rem;
        width: 40%;
        background-color: black;
    }

    .uw{
        font-size: 1.5rem;
        color: white;
    }
    
    footer{
        font-size: .9rem;
        width: 100%;
        margin-top: 50px;
        bottom: unset;
        min-width: unset;
    }

}

@media screen and (max-width: 425px){
    #texttype{
        width: 300px;
        margin-left: 80px;
    }
    
    .mypics{
        background-color: black;
        width: 200px;
        border-radius: 50%;
        position: absolute;
        top: 180px;
        left: 145px;
    }

    #surface{
        top: 380px;
        left: 194px;
    }

    @keyframes mypicsmove {
        50% {top: 174px;}  
         
    }

    .aaa{
        box-shadow: 2px 2px 2px black;
        border-radius: 50%;
        width: 220px;
        height: 220px;
        margin-top: -200px;
        position: absolute;
        top: 328px;
        left: 115px;
        z-index: 1;
    }
    
    .aaaa{
        box-shadow: 2px 2px 2px black;
        border-radius: 50%;
        width: 240px;
        height: 240px;
        margin-top: -200px;
        position: absolute;
        top: 313px;
        left: 105px;
        z-index: 1;
    }
    
    .aaaaa{
        background-color: turquoise;
        border-radius: 50%;
        width: 226px;
        height: 225px;
        margin-top: -200px;
        position: absolute;
        top: 330px;
        left: 130px;
        
    }

    .furnix{
        width: 260px;
        height: 290px;
    }

    .rotate-div1{
        box-sizing: border-box;
        width: 140px;
        height: 301px;
        margin: 0 auto;
        top: -6px;
        left: 125px;
        position: absolute;
        z-index: -1;
    }

    .furnix:active{
        outline: 2px solid grey;
    }
}



@media screen and (max-width: 375px){
    .phone .fa-phone-square-alt, .phone .fa-twitter-square, .phone .fa-facebook-square, .phone .fa-instagram-square, .phone .fa-at{
        color: rgb(57, 167, 158);
        margin-bottom: 0px;
        margin-right: 5px;
        font-size: 1.5rem;
    }

    #texttype{
        width: 250px;
        margin-left: 70px;
    }
    
    .mypics{
        background-color: black;
        width: 190px;
        border-radius: 50%;
        position: absolute;
        top: 178px;
        left: 130px;
    }

    #surface{
        top: 370px;
        left: 174px;
    }

    .furnix{
        width: 250px;
        height: 280px;
    }

    .rotate-div1{
        box-sizing: border-box;
        width: 130px;
        height: 291px;
        margin: 0 auto;
        top: -6px;
        left: 125px;
        position: absolute;
        z-index: -1;
    }

    .furnix:active{
        outline: 2px solid grey;
    }

    @keyframes mypicsmove {
        50% {top: 174px;}  
    }

    .aaa{
        box-shadow: 2px 2px 2px black;
        border-radius: 50%;
        width: 210px;
        height: 210px;
        margin-top: -200px;
        position: absolute;
        top: 316px;
        left: 90px;
        z-index: 1;
    }
    
    .aaaa{
        box-shadow: 2px 2px 2px black;
        border-radius: 50%;
        width: 230px;
        height: 230px;
        margin-top: -200px;
        position: absolute;
        top: 302px;
        left: 80px;
        z-index: 1;
    }
    
    .aaaaa{
        background-color: turquoise;
        border-radius: 50%;
        width: 216px;
        height: 215px;
        margin-top: -200px;
        position: absolute;
        top: 318px;
        left: 105px;
        
    }

    .uw{
        font-size: 1.4rem;
        color: white;
    }


    @media screen and (max-width: 356px){
        .phone .fa-phone-square-alt, .phone .fa-twitter-square, .phone .fa-facebook-square, .phone .fa-instagram-square, .phone .fa-at{
            color: rgb(57, 167, 158);
            margin-bottom: 0px;
            margin-right: 5px;
            font-size: 1.4rem;
        }

        .phone {
            color:hsl(175, 49%, 44%);
            display: flex;
            padding-right: 19px;
        }

        #texttype{
            line-height: 18px;
            width: 230px;
            margin-left: 68px;
        }

        .mypics{
            background-color: black;
            width: 160px;
            border-radius: 50%;
            position: absolute;
            top: 180px;
            left: 140px;
        }

        #surface{
            top: 336px;
            left: 172px;
        }

        @keyframes mypicsmove {
            50% {top: 174px;}  
             
        }
    
        .aaa{
            box-shadow: 2px 2px 2px black;
            border-radius: 50%;
            width: 180px;
            height: 180px;
            margin-top: -200px;
            position: absolute;
            top: 318px;
            left: 80px;
            z-index: 1;
        }
        
        .aaaa{
            box-shadow: 2px 2px 2px black;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            margin-top: -200px;
            position: absolute;
            top: 303px;
            left: 70px;
            z-index: 1;
        }
        
        .aaaaa{
            background-color: turquoise;
            border-radius: 50%;
            width: 186px;
            height: 185px;
            margin-top: -200px;
            position: absolute;
            top: 320px;
            left: 95px;
            
        }

        .furnix{
            width: 240px;
            height: 270px;
            position: relative;
        }

        .rotate-div1{
            box-sizing: border-box;
            width: 120px;
            height: 281px;
            margin: 0 auto;
            top: -6px;
            left: 125px;
            position: absolute;
            z-index: -1;
        }
    
        .furnix:active{
            outline: 2px solid grey;
        }
        
        .uw{
            font-size: 1.3rem;
            color: white;
        }

        #msg{
            font-size: 0.9rem;
            width: 258px;
        }

        #type{
            font-size: 1rem;
        }
    }
}


@media screen and (max-width: 344px){
    .rw, .serv{
        font-size: 1.3rem;
        width: 50%;
        background-color: black;
    }

    .service-block{
        width: 80%;
        margin-bottom: 30px;
    }

    #surface{
        top: 350px;
        left: 160px;
    }

    .mypics{
        background-color: black;
        width: 160px;
        border-radius: 50%;
        position: absolute;
        top: 190px;
        left: 130px;
    }

    @keyframes mypicsmove {
        50% {top: 184px;}  
         
    }

    #texttype{
        line-height: 18px;
        width: 230px;
        margin-left: 50px;
    }
}