@media screen and (max-width: 480px) {
    *{
        margin: 0;
        padding: 0;
        font-family: 'Acme', sans-serif;
        font-weight: 100;
    }

    body{
        min-height: 100%;
        min-width: 320px;
        width: 100%;
        background-color: black;
        font-size: 100%;
    }
    
    /*header content*/
    header{
        width: 100%;
        min-width: unset;
        background-color: black;
        position: fixed;
        top: 0px;
        right: unset;
        left: unset;
        z-index: 1;
        border-bottom: 2px solid lightblue;
        display: flex;
        justify-content: space-between;
        padding-top: 2px;
    }

    .hamburger{
        display: block;
        padding-right: 10px;
    }

    nav{
        display: none;
    }
    
    .logo{
        font-size: 1.5rem;
    }

    strong{
        display: none;
    }
    
    .phone>a:link{
        text-decoration: none;
    }
    
    .phone .fa-phone-square-alt, .phone .fa-twitter-square, .phone .fa-facebook-square, .phone .fa-instagram-square, .phone .fa-at{
        color: hsl(175, 49%, 44%);
        margin-bottom: 0px;
        margin-right: 5px;
        font-size: 1.5rem;
    }
    
    strong:hover{
        color: lightblue;
        transition: 1s;
    }
    
    .content{
        width: 100%;
        margin: 0px;
        margin-top: 60px;
    }
    /*end header*/
    
    /*content of page*/
    main{
        width: 100%;
        margin-top: 0px;
        position: relative;
    }

    .css{
        display: none;
    }
    
    .phone {
        color:hsl(175, 49%, 44%);
        display: flex;
        padding-right: 20px;

    }
    
    .gifcode{
        width: 250px;
        margin-top: 50px;
        margin-left: 20%;
    }
    
    .mypics{
        background-color: black;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        top: 140px;
        left: 32%;
        border: 2px solid hsl(175, 49%, 44%);
    }
    
    #msg{
        width: 100%;
        line-height: 33px;
        margin-top: 50px;
        margin-left: unset;
        padding-left: 16%;
        font-size: 1rem;
        box-sizing: border-box;
        color: white;
    }
    
    .msg1{
        margin-left: unset;
    }
    
    .msg2{
        margin-left: unset;
    }
    
    .msg3{
        margin-left: unset;
        width: 100%;
    }
    
    .smw{
        width: 100%;
        padding: 5px 50px 5px 50px;
        background-color: hsl(175, 49%, 44%);
        text-decoration: none;
        font-size: 1.25rem;
        border: 0px;
        border-radius: 10px;
        color: black;
        box-shadow: 3px 3px 0px white;
    }
    
    .button{
        width: 100%;
        min-width: unset;
        margin: 50px 0px 100px 0px;
        text-align: center;
    }
    
    .smw:active{
        box-shadow: 1px 1px 0px white;
    }
    
    .serv{
        font-size: 700%;
        font-weight: 100;
        text-align: center;
        margin-top: 15%;
        color: grey;
    }

    figcaption{
        font-size: 1rem;
    }
    
    footer{
        font-size: .9rem;
        width: 100%;
        position: unset;
        bottom: unset;
        min-width: unset;
        color: white;
        text-align: centre;
    }
}
