*{
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
    font-weight: 500;
}

body{
    min-height: 100%;
    min-width: 1366px;
    max-width: 100%;
    background-color: black;
}

/*header content*/
header{
    min-width: 1240px;
    background-color: black;
    position: fixed;
    top: 0px;
    right: 60px;
    left: 60px;
    z-index: 1;
    border-bottom: 2px solid lightblue;
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
}

strong{
    font-size: 1.25rem;
    font-style: italic;
    color: grey;
}

.phone>a:link{
    text-decoration: none;
}

.phone .fa-phone-square-alt, .phone .fa-twitter-square, .phone .fa-facebook-square, .phone .fa-instagram-square, .phone .fa-at{
    color: hsl(175, 49%, 44%);
    margin-bottom: 5px;
}

.logo{
    width: 50px;
    margin-left: 10px;
}

ul li.active a{
    color: hsl(175, 49%, 44%);
}

li>a:link{
    text-transform: uppercase;
}

ul>li{
    list-style-type: none;
    display: inline;
}

.nav-links{
    padding-top: 9%;
}

.nav-link{
    text-decoration: none;
    color: white;
}

.nav-links>li>a{
    margin-right: 20px;
    font-size: 20px;
}

.nav-link:hover{
    color:white;
    transition: 1s;
    background-color: hsl(175, 49%, 44%);
    padding: 4px;
    border-radius: 2px;
}

strong:hover{
    color: lightblue;
    transition: 1s;
}

a.nav-link:active{
    font-size: small;
}

.content{
    margin-top: 100px;
}
/*end header*/

/*content of page*/
.css{
    width: 300px;
    position: absolute;
    top: 150px;
    left: 620px;
    opacity: 0.06;
}

.phone {
    color:hsl(175, 49%, 44%);
    float: right;
    padding-right: 110px;
}

.gifcode{
    width: 350px;
    margin-top: 30px;
    margin-left: 90px;
}

.mypics{
    background-color: black;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 230px;
    left: 160px;
    border: 2px solid hsl(175, 49%, 44%);
}

#msg{
    line-height: 67px;
    margin-top: -40px;
    margin-left: 425px;
    font-size: 30px;
    color: white;
}

.msg1{
    margin-left: -12px;
}

.msg2{
    margin-left: -30px;
}

.msg3{
    margin-left: -280px;
}

.smw{
    width: 100%;
    padding: 5px 50px 5px 50px;
    background-color: hsl(175, 49%, 44%);
    text-decoration: none;
    font-size: 20px;
    border: 0px;
    border-radius: 10px;
    color: black;
    box-shadow: 3px 3px 0px white;
}

.button{
    min-width: 1366px;
    margin: 50px 0px 50px 0px;
    text-align: center;
}

.smw:active{
    box-shadow: 1px 1px 0px white;
}

.msgbutton{
    margin-top: -13%;
}

.serv{
    font-size: 700%;
    font-weight: 100;
    text-align: center;
    margin-top: 15%;
    color: grey;
}

footer{
    width: 100%;
    min-width: 1366px;
    position: absolute;
    bottom: 0px;
    font-size: 16px;
    color: white;
    text-align: center;
    margin-top: auto;
}

@media screen and (max-width: 425px) {
    *{
        margin: 0;
        padding: 0;
        font-family: 'Acme', sans-serif;
        font-weight: 100;
    }

    body{
        min-height: 100%;
        min-width: 320px;
        max-width: 425px;
        background-color: black;
    }
    
    /*header content*/
    header{
        width: 405px;
        min-width: 320px;
        background-color: black;
        position: fixed;
        top: 0px;
        right: 10px;
        left: 10px;
        z-index: 1;
        border-bottom: 2px solid lightblue;
        display: flex;
        justify-content: space-between;
        padding-top: 2px;
    }
    
    strong{
        display: none;
    }
    
    .phone>a:link{
        text-decoration: none;
    }
    
    .phone .fa-phone-square-alt, .phone .fa-twitter-square, .phone .fa-facebook-square, .phone .fa-instagram-square, .phone .fa-at{
        color: hsl(175, 49%, 44%);
        margin-bottom: 0px;
        margin-right: 8px;
        font-size: 25px;
    }
    
    .logo{
        width: 50px;
        margin-right: 196px;
    }
    
    ul li.active a{
        color: hsl(175, 49%, 44%);
    }
    
    li>a:link{
        text-transform: uppercase;
    }
    
    ul>li{
        list-style-type: none;
        display: inline;
    }
    
    .nav-links{
        padding-top: 9%;
    }
    
    .nav-link{
        text-decoration: none;
        color: white;
    }
    
    .nav-links>li>a{
        font-size: 16px;
    }
    
    .nav-link:hover{
        color:white;
        transition: 1s;
        background-color: hsl(175, 49%, 44%);
        padding: 4px;
        border-radius: 2px;
    }
    
    strong:hover{
        color: lightblue;
        transition: 1s;
    }
    
    a.nav-link:active{
        font-size: small;
    }
    
    .content{
        width: 415px;
        margin: 0px;
        margin-top: 70px;
    }
    /*end header*/
    
    /*content of page*/
    .css{
        display: none;
    }
    
    .phone {
        color:hsl(175, 49%, 44%);
        display: flex;
        float: none;
        position: absolute;
        left: 250px;
        padding-right: 0px;

    }
    
    .gifcode{
        width: 250px;
        margin-top: 30px;
        margin-left: 90px;
    }
    
    .mypics{
        background-color: black;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: absolute;
        top: 165px;
        left: 130px;
        border: 2px solid hsl(175, 49%, 44%);
    }
    
    #msg{
        width: 340px;
        line-height: 33px;
        margin-top: 40px;
        margin-left: 70px;
        font-size: 16px;
        color: white;
    }
    
    .msg1{
        margin-left: 0px;
    }
    
    .msg2{
        margin-left: 0px;
    }
    
    .msg3{width: 344px;
        margin-left: 0px;
    }
    
    .smw{
        width: 100%;
        padding: 5px 50px 5px 50px;
        background-color: hsl(175, 49%, 44%);
        text-decoration: none;
        font-size: 20px;
        border: 0px;
        border-radius: 10px;
        color: black;
        box-shadow: 3px 3px 0px white;
    }
    
    .button{
        width: 425px;
        min-width: 320px;
        margin: 50px 0px 50px 0px;
        text-align: center;
    }
    
    .smw:active{
        box-shadow: 1px 1px 0px white;
    }
    
    .msgbutton{
        margin-top: -13%;
    }
    
    .serv{
        font-size: 700%;
        font-weight: 100;
        text-align: center;
        margin-top: 15%;
        color: grey;
    }
    
    footer{
        font-size: 14px;
        margin-top: auto;
        width: 425px;
        position: absolute;
        bottom: 0px;
        min-width: 0px;
        font-size: 16px;
        color: white;
        text-align: centre;
    }
}
