*{
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
    font-weight: 500;
}

body{
    color: white;
    min-height: 100%;
    min-width: 1000px;
    max-width: 1366px;
    width: 100%;
    background-color: black;
    scroll-behavior: smooth;
    position: relative;
}

/*header content*/
header{
    display: none;
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
    z-index: 500;
}

.sname{
    position: absolute;
    top: 0%;
    line-height: 40px;
    display: block;
    font-size: 2rem;
    color: turquoise;
    margin-left: 10px;
}

#type{
    font-family: 'Fredericka the Great', cursive;
}

.hamburger{
    display: none;
}

/* Style the navigation menu */
.topnav {
    display: none;
    overflow: hidden;
    background-color: black;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    text-align: center;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: turquoise;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    font-size: 1.4rem;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: black;
    color: white;
  }
  
  /* Style the active link (or home/logo) */
  .activ {
    background-color: black;
    color: white;
  }
  
a{
    text-decoration: none;
}

strong{
    font-size: 1.2rem;
    font-style: italic;
    color: grey;
}

nav{
    padding-bottom: 5px;
    margin-right: 100px;
}

.phone>a:link{
    text-decoration: none;
}

.phone .fa-phone-square-alt, .phone .fa-twitter-square, .phone .fa-facebook-square, .phone .fa-instagram-square, .phone .fa-at{
    color: turquoise;
    margin-bottom: 5px;
}

ul li.active a{
    color: turquoise;
}

li>a:link{
    text-transform: uppercase;
}

ul>li{
    list-style-type: none;
    display: inline;
}

.nav-links{
    padding-top: 9%;
}

.nav-link{
    text-decoration: none;
    color: turquoise;
}

.nav-links>li>a{
    margin-right: 20px;
    font-size: 1.2rem;
}

.nav-link:hover{
    transition: 1s;
    border-bottom: 2px solid;
    transform: translate(0px, 5px);
}

strong:hover{
    color: lightblue;
    transition: 1s;
}

a.nav-link:active{
    font-size: small;
    border-bottom: 2px solid;
}

.content{
    margin-top: 70px;
}

/*end header*/

/*content of page*/
main{
    width: 100%;
    position: relative;
}

.phone {
    color: turquoise;
    float: right;
    padding-right: 13%;
    font-size: 1.2rem;
}

.gifcode{
    max-width: 100%;
    margin-top: 30px;
    margin-left: 150px;
}

.mypics{
    background-color: black;
    width: 230px;
    border-radius: 50%;
    position: absolute;
    top: 132px;
    left: 210px;
    border: 3px solid black;
    z-index: 3;
    animation: mypicsmove 5s infinite;
}

@keyframes mypicsmove {
    50% {top: 126px;}  
     
}

.aaa{
    box-shadow: 2px 2px 2px black;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 120px;
    left: 204px;
    z-index: 2;
}

.aaaa{
    box-shadow: 2px 2px 2px black;
    border-radius: 50%;
    width: 270px;
    height: 270px;
    position: absolute;
    top: 105px;
    left: 195px;
    z-index: 1;
}

.aaaaa{
    background-color: turquoise;
    border-radius: 50%;
    width: 270px;
    height: 270px;
    position: absolute;
    top: 115px;
    left: 215px;
}

#msg{
    height: 200px;
    line-height: 67px;
    margin-top: -25px;
    margin-left: 450px;
    font-size: 1.6rem;
    color: white;
}

.msg1{
    margin-left: 8%;
}

.msg2{
    margin-left: 5%;
}

.msg3{
    margin-left: -60%;
    text-align: center;
}

.fa-angle-down{
    color: turquoise;
}

.arrow{
    margin-bottom: -15px;
}

.lastarrow{
    margin-top: -25px;
}

.mbutton{
    display: block;
    width: 10%;
    min-width: unset;
    margin: 30px auto;
    text-align: center;
}

.recentworks, #services{
    width: 90%;
    padding-left: 4%;
    margin-top: 100px;
}

hr{
    background-color: hsl(175, 49%, 44%);
    width: 7%;
    color: hsl(175, 49%, 44%);
    border-radius: 10px;
    border: 2px solid hsl(175, 49%, 44%);
    margin-top: 5px;
}

.rw, .serv{
    font-size: 1.5rem;
    width: 40%;
    background-color: black;
}

footer{
    width: 100%;
    font-size: 1rem;
    margin-top: 50px;
    color: white;
    text-align: center;
}

/*portfolio*/
.project-container{
    background: linear-gradient(transparent, transparent, turquoise, rgba(81, 165, 243, 0.589), transparent);
    width: 100%;
    margin-top: 2%;
    display: flex;
}

.projectinfo{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.project-block{
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column; 
}

.furnix{
    box-sizing: border-box;
    box-shadow: 10px 10px white;
    width: 270px;
    height: 300px;
    margin: 0 auto 15px;
    background: url(../images/projectbg.jpg);
    position: relative;
}

.furnix:hover{
    background: black;
    border: 2px solid white;
    box-shadow: 5px 5px turquoise;
}

.furnix:active{
    box-shadow: 2px 2px white;
}

.uw{
    width: 9%;
    font-size: 1.5rem;
    color: white;
    position: absolute;
    top: 10px;
    left: 120px;
    font-family: 'Fredericka the Great', cursive;
}

.tools{
    color: white;
    position: absolute;
    top: 90%;
    left: 10%;
    font-family: 'Alegreya', serif;
}

/* Services */
#services-container{
    width: 100%;
    margin-top: 30px;
    display: flex;
}

.service-block{
    width: 20%;
    margin: 50px auto;
    text-align: center;
}

/*Slide from left*/
.slideup {
    animation-name: slideup;
    -webkit-animation-name: slideup;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
  }
  
  @keyframes slideup {
    0% {
      opacity: 0;
      -webkit-transform: translateY(50%);
    } 

    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  
  @-webkit-keyframes slideup {
      0% {
        opacity: 0;
        -webkit-transform: translateY(50%);
      } 

      100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
      }
    }

/*slide from right*/
.slideright {
    animation-name: slideright;
    -webkit-animation-name: slideright;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
  }
  
  @keyframes slideright {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-50%);
    } 

    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }
  
  @-webkit-keyframes slideright {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-50%);
      } 

      100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
      }
    }
