*{
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
    font-weight: 500;
}

body{
    background-color: black;
    padding-left: 6%;
    padding-right: 6%;
}
/*header content*/

header{border-bottom: 2px solid lightblue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
}

strong{
    font-size: large;
    font-style: italic;
    color: grey;
}

.phone>a:link{
    text-decoration: none;
}

.phone .fa-phone-square-alt, .phone .fa-twitter-square, .phone .fa-facebook-square, .phone .fa-instagram-square, .phone .fa-at{
    color: hsl(175, 49%, 44%);
    margin-bottom: 10px;
}

.logo{
    width: 60px;
    margin-left: 15px;
}

ul li.active a{
    color: hsl(175, 49%, 44%);
}

li>a:link{
    text-transform: uppercase;
    font-size: 20px;
}

ul>li{
    list-style-type: none;
    display: inline;
}

.nav-links{
    padding-top: 10%;
}

.nav-link{
    text-decoration: none;
    color: white;
}

.nav-links>li>a{
    margin-right: 20px;
}

.nav-link:hover{
    color:white;
    transition: 1s;
    background-color: hsl(175, 49%, 44%);
    padding: 4px;
    border-radius: 2px;
}

strong:hover{
    color: lightblue;
    transition: 1s;
}

a.nav-link:active{
    font-size: small;
}

.content{
    width: 100%;
    margin-top: 30px;
}


/*end header*/

/*content of page*/
.phone {
    margin-top: 2%;
    color:hsl(175, 49%, 44%);
    float: right;
    padding-right: 2%;
    margin-left: -20%;
}

.gifcode{
    width: 25%;
    margin-top: 2%;
    margin-left: 5%;  
}

.mypics{
    width: 20vw;
    height: 20vw;
    border-radius: 50vw;
    margin-top: -12%;
    margin-left: 8%;
    border: 2px solid hsl(175, 49%, 44%);
}

#msg{
    text-shadow: 1px 0.5px blue;
    margin-top: -22px;
    margin-left: 390px;
    font-size: 30px;
    color: white;
}

.msg2{
    
    margin-left: -19px;
}

.msg3{
    margin-left: -290px;
}

.giftomsg{
    width: 100%;
    
}

.smw{
    padding: 5px 50px 5px 50px;
    background-color: hsl(175, 49%, 44%);
    text-decoration: none;
    font-size: 20px;
    border: 0px;
    border-radius: 10px;
    color: white;
}

.button{
    margin-left: 500px;
    margin-top: 66px;
}

.msgbutton{
    margin-top: -13%;
}

.imgcss{
    width: 20%;
    position: fixed;
    top: 20%;
    left: 50%;
    opacity: 0.05;
}

.serv{
    font-size: 700%;
    font-weight: 100;
    text-align: center;
    margin-top: 15%;
    color: grey;
}

@media screen and (width: 411px){
    body{
        width: 411px;
        padding: 0px;
    }

    .logo{
        width: 60px;
        padding-left: 1px;
    }

    .nav-links{
        margin-left: 20px;
    }

    .gifcode{
        width: 250px;
        margin-top: 20px;
        margin-left: 80px;  
    }

    .mypics{
        width: 200px;
        height: 200px;
        margin-top: -110px;
        border-radius: 50vw;
        margin-left: 100px;
        border: 2px solid hsl(175, 49%, 44%);
    }

    .imgcss{
        display: none;
    }

    .msgbutton{
        margin-top: -150px;
    }

    #msg{
        margin-top: 130px;
        margin-left: 25px;
        margin-bottom: 50px;
        font-size: 14px;
        color: white;
        text-shadow: 1px 1px hsl(175, 49%, 44%);
    }

    .msg2{
        margin-left: 10px;
    }

    .msg1{
        margin-left: 10px;
    }

    .msg3{
        margin-left: 10px;
    }
    
    .phone {
        display: flex;
        margin-top: -20px;
    }


    .phone .fa-phone-square-alt{
        display: none;
    }

    .phone .fa-twitter-square{
        font-size: 25px;
        color: hsl(175, 49%, 44%);
        margin-right: 6px;
    }

    .phone .fa-instagram-square{
        font-size: 25px;
        color: hsl(175, 49%, 44%);
        margin-right: 6px;
    }

    .phone .fa-facebook-square{
        font-size: 25px;
        color: hsl(175, 49%, 44%);
        margin-right: 6px;
    }

    .phone .fa-at{
        font-size: 25px;
        color: hsl(175, 49%, 44%);
    }

    strong{
        display: none;
    }

    .smw{
        padding: 5px 50px 5px 50px;
        background-color: hsl(175, 49%, 44%);
        text-decoration: none;
        font-size: 20px;
        border: 0px;
        border-radius: 10px;
        color: white;
    }
    
    .button{
        margin-left: 100px;
        margin-top: 60px;
    }

}